.App{
  display: flex;
  width: 68rem;
  min-height: 65vh;
  padding: 1.5rem;
  gap: 4rem;
  background-color: white;
  border-radius: .6rem;
}

@media screen and (max-width: 70rem ) {
  .App{
    width: 60rem;
  }
}

@media screen and (max-height: 39rem) {
  .App{
    height: 100vh;
  }
}

@media screen and (max-width: 60rem) {
  .App{
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: hsl(217, 100%, 97%);
    align-items: center;
    min-height: 100vh;
    gap: 0;
    border-radius: .3rem;
  }
}

